{% load staticfiles %}

<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
           href="{{ request.get_full_path }}">{{ path_name }}</a>
        <!-- Form -->
        <div class="form-inline ml-lg-auto mr-lg-auto">
            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex search-form"
                  action="/search/" method="post">
                {% csrf_token %}
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control search-input" autocomplete="off" placeholder="Search" type="text"
                               name="search_input"
                               value="{{ searched_term }}">
                        <button type="submit" class="hidden submit-button"></button>
                    </div>
                </div>
            </form>

            {% if path_name == 'Search' %}
                <form method="post" action="/search/">
                    {% csrf_token %}
                    <input type="hidden" name="save_search" value="visualize">
                    <input type="hidden" name="search_input" value="{{ searched_term }}">
                    <button class="btn btn-danger" type="submit">Save for visualisation</button>
                </form>
            {% else %}
            {% endif %}
        </div>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{ image }}">
                </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{ name }}</span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a href="/" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>Homepage</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout/" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>