{% load staticfiles %}

<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
	<div class="container-fluid">
		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
				aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Brand -->
		<a class="navbar-brand pt-0" href="./index.html">
{#			<img src="{% static 'img/brand/blue.png' %}" class="navbar-brand-img" alt="...">#}
		</a>
		<!-- User -->
		<ul class="nav align-items-center d-md-none">
			<li class="nav-item dropdown">
				<a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">
					<i class="ni ni-bell-55"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
					 aria-labelledby="navbar-default_dropdown_1">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">
					<div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{% static 'img/theme/team-1-800x800.jpg' %}">
              </span>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
					<div class=" dropdown-header noti-title">
						<h6 class="text-overflow m-0">Welcome!</h6>
					</div>
					<a href="./examples/profile.html" class="dropdown-item">
						<i class="ni ni-single-02"></i>
						<span>My profile</span>
					</a>
					<a href="./examples/profile.html" class="dropdown-item">
						<i class="ni ni-settings-gear-65"></i>
						<span>Settings</span>
					</a>
					<a href="./examples/profile.html" class="dropdown-item">
						<i class="ni ni-calendar-grid-58"></i>
						<span>Activity</span>
					</a>
					<a href="./examples/profile.html" class="dropdown-item">
						<i class="ni ni-support-16"></i>
						<span>Support</span>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#!" class="dropdown-item">
						<i class="ni ni-user-run"></i>
						<span>Logout</span>
					</a>
				</div>
			</li>
		</ul>
		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="sidenav-collapse-main">
			<!-- Collapse header -->
			<div class="navbar-collapse-header d-md-none">
				<div class="row">
					<div class="col-6 collapse-brand">
						<a href="./index.html">
							<img src="{% static 'img/brand/blue.png' %}">
						</a>
					</div>
					<div class="col-6 collapse-close">
						<button type="button" class="navbar-toggler" data-toggle="collapse"
								data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
								aria-label="Toggle sidenav">
							<span></span>
							<span></span>
						</button>
					</div>
				</div>
			</div>
			<!-- Form -->
			<form class="mt-4 mb-3 d-md-none search-form" action="/search/" method="post">
				{% csrf_token %}
				<div class="input-group input-group-rounded input-group-merge">
					<input type="search" class="form-control form-control-rounded form-control-prepended search-input"
						   placeholder="Search" aria-label="Search" name="search_input">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<span class="fa fa-search"></span>
						</div>
					</div>
					<button type="submit" class="hidden submit-button"></button>
				</div>
			</form>
			<!-- Navigation -->
			<ul class="navbar-nav">
				<li class="nav-item {% if path_name == 'Homepage' %}active{% else %}{% endif %}">
					<a class=" nav-link {% if path_name == 'Homepage' %}active{% else %}{% endif %}" href="/"> <i
							class="ni ni-tv-2 text-primary text-uppercase"></i> Homepage
					</a>
				</li>
				<li class="nav-item {% if path_name == 'Visualize data' %}active{% else %}{% endif %}">
					<a class="nav-link {% if path_name == 'Visualize data' %}active{% else %}{% endif %}"
					   href="/visualize/">
                    <i class="fas fa-eye text-blue"></i> Visualized data
					</a>
				</li>
				<li class="nav-item {% if path_name == 'Schedule new tweet' %}active{% else %}{% endif %}">
					<a class="nav-link {% if path_name == 'Schedule new tweet' %}active{% else %}{% endif %}" href="/schedule/">
                    <i class="fas fa-pencil-alt text-orange"></i> Schedule new tweet (not ready yet)
					</a>
				</li>
			</ul>
			<!-- Divider -->
			<hr class="my-3">
			<!-- Heading -->
			<h6 class="navbar-heading text-muted">About project</h6>
			<!-- Navigation -->
			<ul class="navbar-nav mb-md-3">
				<li class="nav-item">
					<a class="nav-link"
					   href="https://docs.google.com/document/d/1Ch4eyyMsPJma_xeaXy6jZvDJfu7rZo62ZjVJNI62noU/edit?usp=sharing" target="_blank">
						<i class="ni ni-spaceship"></i> Documentation
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
					   href="https://github.com/midhatstam/twitty" target="_blank">
						<i class="fas fa-external-link-alt"></i> Source code (github)
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
					   href="https://bitbucket.org/MidhatSTAM/tweety/src/master/" target="_blank">
						<i class="fas fa-external-link-alt"></i> Source code (bitbucket)
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>