{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        App using Twitter API
    </title>
    <!-- Favicon -->
    <link href="{% static 'img/brand/favicon.png' %}" rel="icon" type="image/png">
    <!-- Icons -->
    <link href="{% static 'js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/app.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/picker.css' %}" rel="stylesheet">
</head>

<body class="">
{% block sidebar %}
    {% include "components/sidebar.html" %}
{% endblock %}

<div class="main-content">
    <!-- Navbar -->
    {% block navbar %}
        {% include "components/navbar.html" %}
    {% endblock %}
    <!-- End Navbar -->
    {% block header %}
    {% endblock %}


    {% block main %}
    {% endblock %}
</div>
<!--   Core   -->
<script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!--   Optional JS   -->
<script src="{% static 'js/plugins/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
<!--   Argon JS   -->
<script src="{% static 'js/argon-dashboard.min.js' %}"></script>
<script src="{% static 'js/picker.js' %}"></script>

<script>
    new Picker(document.querySelector('.js-time-picker'), {
        format: 'HH:mm',
        headers: true,
        controls: true,
        container: '.js-mini-picker-container',
        inline: true,
        rows: 5,
        text: {
            title: 'Pick a time',
        },
    });
    new Picker(document.querySelector('.js-time-picker-x'), {
        format: 'HH:mm',
        headers: true,
        controls: true,
        container: '.js-mini-picker-x-container',
        inline: true,
        rows: 5,
        text: {
            title: 'Pick a time',
        },
    });

</script>

<script src="{% static 'js/app.js' %}"></script>
</body>

</html>