{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
	{% include "components/header.html" %}
{% endblock %}

{% block main %}
	<div class="container-fluid mt--7">
		<div class="row">
			{% if lookup_tweets %}
				{% for tweet in lookup_tweets %}
					<div class="col-xl-2"></div>
					<div class="col-xl-8">
						<div class="card mb-lg-4 shadow">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-1">
										<span class="avatar avatar-sm rounded-circle">
											<img src="{{ tweet.user.profile_image_url_https }}">
										</span>
									</div>
									<div class="col-lg-11">
										<div class="media-body ml-2 d-none d-lg-block">
											<span class="mb-0 text-sm  font-weight-bold">{{ tweet.user.name }}</span>
											<span class="ml-2 text-sm">
												<a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}"
												   target="_blank">
													{{ tweet.created_at|date:"d.m.Y H:i" }}
												</a>
											</span>
										</div>

										{% if tweet.retweeted_status %}
											<div class="row">
												<div class="col-xl-1">
													<i class="fas fa-retweet"
													   style="font-size: 40px; color: #bc8d3f;"></i>
												</div>
												<div class="col-xl-10">
													<div class="media-body ml-0 d-none d-lg-block mt-1">
														<span class="avatar avatar-sm rounded-circle d-inline-block">
															<img src="{{ tweet.retweeted_status.user.profile_image_url_https }}">
														</span>
														<span>
															<span class="mb-0 text-sm  font-weight-bold d-inline-block ml-1">{{ tweet.retweeted_status.user.name }}</span>
															<span class="ml-2 text-sm">
																	<a href="https://twitter.com/{{ tweet.retweeted_status.user.screen_name }}/status/{{ tweet.retweeted_status.id_str }}"
																	   target="_blank">
																		{{ tweet.retweeted_status.created_at|date:"H:i d.m.Y" }}
																	</a>
															</span>
														</span>
													</div>
													<blockquote>
														{{ tweet.retweeted_status.text|urlize }}
													</blockquote>
												</div>
											</div>

										{% else %}
										{% endif %}

										<p class="card-text">
											{{ tweet.full_text|urlize }}
										</p>
										<div>
											{% if tweet.entities.media %}
												{% for image in tweet.entities.media %}
													<img src="{{ image.media_url_https }}"
														 width="{{ image.sizes.small.w }}"
														 height="{{ image.sizes.small.h }}">
												{% endfor %}
											{% else %}
											{% endif %}

										</div>
									</div>
								</div>

								{#								<a href="#" class="btn btn-primary">Go somewhere</a>#}
							</div>
						</div>
					</div>
					<div class="col-xl-2"></div>
				{% endfor %}
			{% else %}
				{% for tweet in home_timeline %}
					<div class="col-xl-2"></div>
					<div class="col-xl-8">
						<div class="card mb-lg-4 shadow infinite-item">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-1">
										<span class="avatar avatar-sm rounded-circle">
											<img src="{{ tweet.user.profile_image_url_https }}">
										</span>
									</div>
									<div class="col-lg-11">
										<div class="media-body ml-0 d-none d-lg-block">
											<span class="mb-0 text-sm  font-weight-bold">{{ tweet.user.name }}</span>
											<span class="ml-2 text-sm">
												<a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}"
												   target="_blank">
													{{ tweet.created_at|date:"H:i d.m.Y" }}
												</a>
											</span>
										</div>

										{% if tweet.retweeted_status %}
											<div class="row">
												<div class="col-xl-1">
													<i class="fas fa-retweet"
													   style="font-size: 40px; color: #bc8d3f;"></i>
												</div>
												<div class="col-xl-10">
													<div class="media-body ml-0 d-none d-lg-block mt-1">
														<span class="avatar avatar-sm rounded-circle d-inline-block">
															<img src="{{ tweet.retweeted_status.user.profile_image_url_https }}">
														</span>
														<span>
															<span class="mb-0 text-sm  font-weight-bold d-inline-block ml-1">{{ tweet.retweeted_status.user.name }}</span>
															<span class="ml-2 text-sm">
																	<a href="https://twitter.com/{{ tweet.retweeted_status.user.screen_name }}/status/{{ tweet.retweeted_status.id_str }}"
																	   target="_blank">
																		{{ tweet.retweeted_status.created_at|date:"H:i d.m.Y" }}
																	</a>
															</span>
														</span>
													</div>
													<blockquote>
														{{ tweet.retweeted_status.text|urlize }}
													</blockquote>
												</div>
											</div>

										{% else %}
										{% endif %}

										<p class="card-text">
											{{ tweet.full_text|urlize }}
										</p>
										<div>
											{% if tweet.entities.media %}
												{% for image in tweet.entities.media %}
													<img src="{{ image.media_url_https }}"
														 width="{{ image.sizes.small.w }}"
														 height="{{ image.sizes.small.h }}">
												{% endfor %}
											{% else %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2"></div>
				{% endfor %}
				<div class="mx-auto">
					{% if previous_page_number is not None %}
						<a href="/{{ previous_page_number }}/" class="btn btn-primary text-uppercase">Previous...</a>
					{% else %}
						<a class="btn btn-primary text-uppercase disabled">Previous...</a>
					{% endif %}

					<a href="/{{ next_page_number }}/" class="btn btn-primary text-uppercase">Next...</a>
				</div>
			{% endif %}
		</div>
		<!-- Footer -->
		<footer class="footer">
			<div class="row align-items-center justify-content-xl-between">
				<div class="col-xl-6">
					<div class="copyright text-center text-xl-left text-muted">
						&copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1"
									   target="_blank">Creative Tim</a>
					</div>
				</div>
				<div class="col-xl-6">
					<ul class="nav nav-footer justify-content-center justify-content-xl-end">
						<li class="nav-item">
							<a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
						</li>
						<li class="nav-item">
							<a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About
								Us</a>
						</li>
						<li class="nav-item">
							<a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
						</li>
						<li class="nav-item">
							<a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md"
							   class="nav-link" target="_blank">MIT License</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>

{% endblock %}