{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		Argon Dashboard - Free Dashboard for Bootstrap 4 by Creative Tim
	</title>
	<!-- Favicon -->
	<link href="{% static 'img/brand/favicon.png' %}" rel="icon" type="image/png">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<!-- Icons -->
	<link href="{% static 'js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet"/>
	<link href="{% static 'js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet"/>
	<!-- CSS Files -->
	<link href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/app.css' %}" rel="stylesheet"/>
</head>

<body class="bg-default">
<div class="main-content">
	<!-- Navbar -->
	<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
		<div class="container px-4">
		</div>
	</nav>
	<!-- Header -->
	<div class="header bg-gradient-primary py-7 py-lg-8">
		<div class="container">
			<div class="header-body text-center mb-7">
				<div class="row justify-content-center">
					<div class="col-lg-5 col-md-6">
						<h1 class="text-white">Welcome!</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
				 xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</div>
	<!-- Page content -->
	<div class="container mt--8 pb-5">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-md-7">
				<div class="card bg-secondary shadow border-0">
					<div class="card-header bg-transparent pb-5">
						{% if message %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{ message }}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% else %}{% endif %}
						<div class="text-muted text-center mt-2 mb-3">
							<small>Sign in with</small>
						</div>
						<div class="btn-wrapper text-center">
							<form action="/login/" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-neutral btn-icon login">
									<span class="btn-inner--icon"><img
											src="{% static 'img/icons/common/twitter.svg' %}"></span>
									<span class="btn-inner--text">Twitter</span>
								</button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer class="py-5">
		<div class="container">
			<div class="row align-items-center justify-content-xl-between">
				<div class="col-xl-6">
					<div class="copyright text-center text-xl-left text-muted">
						author: <a class="font-weight-bold ml-1" target="_blank">Midhat Sibonjic</a>
					</div>
				</div>
				<div class="col-xl-6">
					<ul class="nav nav-footer justify-content-center justify-content-xl-end">
						<li class="nav-item">
							<a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
						</li>
						<li class="nav-item">
							<a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About
								Us</a>
						</li>
						<li class="nav-item">
							<a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
						</li>
						<li class="nav-item">
							<a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md"
							   class="nav-link" target="_blank">MIT License</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
<!--   Core   -->
<script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="{% static 'js/argon-dashboard.min.js' %}"></script>
<script>
	window.TrackJS &&
	TrackJS.install({
		token: "ee6fab19c5a04ac1a32a645abde4613a",
		application: "argon-dashboard-free"
	});
</script>
</body>

</html>