{% extends 'base.html' %}

{% block header %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid h-100vh">
            <form method="post" action="/schedule-realise/">
                {% csrf_token %}
                <div class="row">
                    <div class="offset-3 col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="tweet_body" rows="3"
                                      placeholder="Write new twitter post ..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="offset-7 col-2">
                        <button class="btn btn-icon btn-2 btn-secondary float-right slide-down" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-bold-down switch"></i></span>
                        </button>
                        <button type="submit" class="btn btn-secondary float-right mr-2">Save</button>
                    </div>
                </div>
                <div class="schedule-cont hidden">
                    <div class="row">
                        <div class="offset-3 col-md-3">
                            <label class="col-form-label text-white">Repeat</label>
                            <div class="card card-body">
                                <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-2" class="custom-control-input" checked=""
                                           id="customRadio1"
                                           type="radio" value="0">
                                    <label class="custom-control-label" for="customRadio1">Never</label>
                                </div>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-2" class="custom-control-input" id="customRadio2"
                                           type="radio" value="day">
                                    <label class="custom-control-label" for="customRadio2">Every day</label>
                                </div>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-2" class="custom-control-input" id="customRadio3"
                                           type="radio" value="week">
                                    <label class="custom-control-label" for="customRadio3">Every week</label>
                                </div>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-2" class="custom-control-input" id="customRadio5"
                                           type="radio" value="month">
                                    <label class="custom-control-label" for="customRadio5">Every month</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label text-white">Schedule at:</label>
                            <input type="text" class="form-control js-time-picker sr-only" name="schedule_at" value="">
                            <div class="js-mini-picker-container"></div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="mx-auto">
                            <span class="badge badge-danger">OR</span>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="offset-3 col-md-3">
                            <label class="col-form-label text-white">Schedule for every hour/minute:</label>
                            <input type="text" class="form-control js-time-picker-x sr-only" name="schedule_for" value="">
                            <div class="js-mini-picker-x-container"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block main %}
{% endblock %}
