{% extends 'base.html' %}

{#{% block header %}#}
{#	{% include "components/header.html" %}#}
{#{% endblock %}#}

{% block header %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">

            <!-- Dark table -->
            <div class="row mt-5">
                <div class="col">
                    <div class="card bg-default shadow">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="text-white mb-0">Visualized data</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Searched query</th>
                                    <th scope="col">Data image</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in v_data %}
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="mb-0 text-sm">{{ data.id }}</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="avatar-group">
                                                <a href="#" class="avatar avatar-sm" data-toggle="tooltip"
                                                   data-original-title="{{ name }}">
                                                    <img alt="Image placeholder"
                                                         src="{{ image }}"
                                                         class="rounded-circle">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            "{{ data.visualize_data_searched_query }}"
                                        </td>
                                        <td>
                                          <span class="badge badge-dot mr-4">
                                              <a class="btn btn-sm btn-danger" href="/{{ data.visualize_data_image }}/" target="_blank">{{ data.visualize_data_image }}</a>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="badge badge-dot mr-4">
                                              {{ data.visualize_data_date|date:"d.m.Y H:i" }}
                                          </span>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
{% endblock %}
